/***************************** Required styles *****************************/

/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
 ul[dnd-list],
 ul[dnd-list] > li {
    position: relative;
}

 ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}

 ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    margin-bottom: -1px;

    /* Disable text selection if item is not draggable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

 ul[dnd-list] li dnd-nodrag {
    display: block;
    padding: 10px 15px;
}

/***************************** Dropzone Styling *****************************/

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
 .dropzone ul[dnd-list] {
    min-height: 42px;
    margin: 0px;
    padding-left: 0px;
}

/**
* Reduce opacity of elements during the drag operation. This allows the user
* to see where he is dropping his element, even if the element is huge. The
* .dndDragging class is automatically set during the drag operation.
*/
.dropzone .dndDragging {
    opacity: 0.7;
}

/**
 * The dndDraggingSource class will be applied to the source element of a drag
 * operation. It makes sense to hide it to give the user the feeling that he's
 * actually moving it. Note that the source element has also .dndDragging class.
 */
.dropzone .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be added as child of the dnd-list
 * while the user is dragging over it.
 */
.dropzone .dndPlaceholder {
    background-color: #ddd;
    min-height: 42px;
    display: block;
    position: relative;
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
 .dropzone li {
    background-color: #fff;
    border: 1px solid #ddd;
    display: block;
    padding: 0px;
    list-style-type: none;
}
#true {
    visibility:hidden;
    /*display: none;*/
}
/***************************** Element type specific styles *****************************/

 .dropzone .item {
    padding: 10px 15px;
}

 .dropzone .container-element {
    margin: 10px;
}

 .dropzone .container-element .column {
    float: left;
    width: 50%;
}

/***************************** Toolbox *****************************/

 .toolbox ul {
    list-style: none;
    padding-left: 0px;
    cursor: move;
}

 .toolbox button {
    margin: 5px;
    width: 123px;
    opacity: 1.0;
}

 .toolbox .dndDragging {
    opacity: 0.5;
}

 .toolbox .dndDraggingSource {
    opacity: 1.0;
}

/***************************** Trashcan *****************************/

 .trashcan ul {
    list-style: none;
    padding-left: 0px;
}

 .trashcan img {
    width: 80%;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
}

 .trashcan .dndDragover img {
    width: 100%;
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}

 .trashcan .dndPlaceholder {
    display: none;
}

/**
 * Handle positioning
 */
 .handle {
    cursor: move;
    position: absolute;
    top: 14px;
}

 .name {
    margin-left: 20px;
}

/**
 * Gender-specifc background
 */
ul[dnd-list] li.background-text {
    background-color: #CAE0FC;
}

ul[dnd-list] li.background-video {
    background-color: #FFE2F5;
}

ul[dnd-list] textarea.background-text {
    background-color: #D8E9FF;
    color: #2F4D99;
}

ul[dnd-list] input.background-video {
    background-color: #FFF0FA;
    color: #D84FA7;
}