<!DOCTYPE html>
<html lang="en"xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="head.html :: head">
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body >
<div sec:authorize="isAuthenticated()">
    <div th:include="user-layout.html :: navAuthorized"></div>
    <div th:include="users/main_list_fragment.html :: main_list"></div>
</div>
<div sec:authorize="isAnonymous()">
    <div th:include="user-layout.html :: navAnonymous"></div>

    <div th:include="users/main_list_fragment.html :: main_list"></div>
    </div>
</div>


</body>
</html>