<!DOCTYPE html>
<html lang="en"xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="head.html :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <div th:include="user-layout.html :: navAuthorizedNotPrincipalNotSite"></div>
    <div style="margin-bottom: 50px;" class="col-md-6 col-md-offset-3">

        <h1> Welcome to our shitty web builder!</h1>

        <h2>Last sites : </h2>
        <div class="container">
            <div class="list-group" th:each="site : ${sites}">
                <a class="list-group-item" th:href="@{~/sites/{id}(id=${site.name})}"><span th:text="${site.name}"></span></a>
            </div>
        </div>
        <div>
        <a th:href="@{~/sites/create}">Create new site</a>
        </div>
    </div>
</div>
</body>
</html>