<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="head.html :: head" >
    <title>Login</title>
</head>
<body>
<div sec:authorize="isAnonymous()">
    <div th:include="user-layout.html :: navAnonymous"></div>
    <div class="inner">
        <h1>Creating a website is easy!</h1>
        <p class="text">Pulp unites beauty and advanced technology to create your stunning website. It’s easy and free.</p>
        <a class="cta" ><span>Start Now</span></a>
    </div>
</div>
</body>
</html>