<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="user-layout.html :: head" >
    <title th:text="spring.social.mvc.normal.title"></title>
</head>
<body>
<div sec:authorize="isAnonymous()">
    <div th:include="user-layout.html :: navAnonymous"></div>
    <div class="container">
    <div class="col-sm-6 col-md-5 col-lg-6 col-md-offset-5">
    <ul class="nav nav-pills nav-stacked">
        <li>
            <div class="row social-button-row">
                <div class="col-lg-4">
                    <a th:href="@{/auth/facebook}"><button class="btn btn-facebook" th:text="#{label.facebook.sign.in.button}"><i class="icon-facebook"></i>
                    </button></a>
                </div>
            </div>
        </li>
        <li>
            <div class="row social-button-row">
                <div class="col-lg-4">
                    <a th:href="@{/auth/twitter}"><button class="btn btn-twitter" th:text="#{label.twitter.sign.in.button}"><i class="icon-twitter"></i>
                    </button></a>
                </div>
            </div>
        </li>
        <!--<li>-->
            <!--<div class="row social-button-row">-->
                <!--<div class="col-lg-4">-->
                    <!--<a th:href="@{/auth/vkontakte}"><button class="btn btn-vk" th:text="#{label.vk.sign.in.button}"><i class="icon-vk"></i>-->
                    <!--</button></a>-->
                <!--</div>-->
            <!--</div>-->
        <!--<li>-->
    </ul>
    </div>
    </div>
</div>

</body>
</html>