<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="main_list">
    <div class="col-md-6 col-md-offset-3">
        <h1> Welcome to our shitty web builder!</h1>

        <h2>Last sites : </h2>
        <div class="container">
            <div class="list-group" th:each="site : ${sites}">
                <a class="list-group-item" th:href="@{~/sites/{id}(id=${site.name})}"><span th:text="${site.name}"></span></a>
            </div>
        </div>
        <div>
            <form th:action="@{~/sites/create}">
                <button sec:authorize="isAuthenticated()" type="submit" class="btn btn-success">Create new site</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>