<!DOCTYPE html>
<html lang="en"xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="head.html :: head">
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<div >
    <div sec:authorize="isAuthenticated()" th:include="user-layout.html :: navAuthorized"></div>
    <div sec:authorize="isAnonymous()" th:include="user-layout.html :: navAnonymous"></div>

    <div style="margin-bottom: 50px;" class="col-md-6 col-md-offset-3">

        <h1><span th:text="${user.firstName}"></span>'s sites</h1>

        <div class="container">
            <div class="list-group" th:each="site : ${sites}">
                <div class="list-group-item">
                    <div class="container">
                        <a th:href="@{~/sites/{id}(id=${site.name})}"><span th:text="${site.name}"></span></a>
                        <div style="float: right;" sec:authorize="isAuthenticated()">
                        <a th:href="@{~/sites/{id}/edit(id=${site.name})}"><button class="btn btn-default">Edit</button></a>

                        <a th:href="@{~/sites/{id}/delete(id=${site.name})}"><button class="btn btn-danger">Delete</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <a sec:authorize="isAuthenticated()" th:href="@{~/sites/create}">Create new site</a>
        </div>
    </div>
</div>
</body>
</html>