<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="head.html :: head">
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<div >
    <div sec:authorize="isAuthenticated()" th:include="user-layout.html :: navAuthorized"></div>

    <div style="margin-bottom: 50px;" class="col-md-6 col-md-offset-3">

        <h1>Hi, <span sec:authentication="principal.firstName"></span></h1>

        <div class="container">
            <div class="list-group" th:each="user : ${userList}">
                <div class="list-group-item">
                    <div class="container">
                        <a th:href="@{~/users/{id}(id=${user.id})}"><span th:text="${user.firstName}"></span><span th:text="${user.lastName}"></span></a>
                        <div style="float: right;">

                            <a th:href="@{~/admin/delete/{id}(id=${user.id})}"><button class="btn btn-danger">Delete</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>