<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="editor-head.html :: editor-head">
    <title>Create page</title>
</head>
<body ng-app="editor" ng-controller="PageCreateController" >
<div sec:authorize="isAuthenticated()">
    <div th:include="user-layout.html :: navAuthorized"></div>

    <h1>Page layout</h1>

    <div class="col-md-10">
        <div class="container-fluid">
            <div class="row">
                <div class="dropzone box box-yellow">
                    <ul dnd-list="models.layout">
                        <li ng-repeat="item in models.layout"
                            dnd-draggable="item"
                            dnd-effect-allowed="move"
                            dnd-moved="models.layout.splice($index, 1)"
                            ng-class="{selected: models.selected === item}"
                            class="background-{{item.type}}">

                            <dnd-nodrag>
                                <div dnd-handle class="handle">:::</div>
                                <div>
                                    <div class="name">
                                        <wysiwyg ng-if="item.type == 'text'"  textarea-id="question" textarea-class="background-{{item.type}} form-control input-sm"  textarea-height="80px" textarea-name="textareaQuestion" textarea-required ng-model="item.value" enable-bootstrap-title="true"></wysiwyg>
                                        <input ng-if="item.type == 'video'" type="text" ng-model="item.value" class="background-{{item.type}} form-control input-sm" placeholder="YouTube link">
                                    </div>
                                </div>
                            </dnd-nodrag>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div style="word-wrap: break-word;">
            <li ng-repeat="item in models.layout">
                <div ng-if="item.type == 'text'" ng-bind-html="item.value | html"></div>
                <youtube-video ng-if="item.type == 'video'" video-url="item.value"></youtube-video>
            </li>
        </div>
    </div>

    <!-- Sidebar -->
    <div class="col-sm-2 ">

        <div class="toolbox box box-grey box-padding">
            <h3>New Elements</h3>
            <ul>
                <!-- The toolbox only allows to copy objects, not move it. After a new
                     element was created, dnd-copied is invoked and we generate the next id -->
                <li ng-repeat="item in models.templates"
                    dnd-draggable="item"
                    dnd-effect-allowed="copy"
                >
                    <button type="button" class="btn btn-default btn-lg" disabled="disabled">{{item.type}}</button>
                </li>
            </ul>
        </div>

        <div class="trashcan box box-grey box-padding">
            <h3>Trashcan</h3>
            <ul dnd-list="[]">
                <li><img src="/static/js/vendor/trashcan.jpg"></li>
            </ul>
        </div>

        <!--Upload button-->
        <button type="button" class="btn btn-success" ng-click='save()' >Save</button>
    </div>

</div>

</body>
</html>