<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="user-layout.html :: head">
</head>
<body ng-app="demo" ng-controller="SimpleDemoController">
<div sec:authorize="isAuthenticated()">
    <div th:include="user-layout.html :: navAuthorized"></div>

    <script type="text/ng-template" id="list.html">
        <ul dnd-list="list">
            <li ng-repeat="item in list"
                dnd-draggable="item"
                dnd-effect-allowed="move"
                dnd-moved="list.splice($index, 1)"
                dnd-selected="models.selected = item"
                ng-class="{selected: models.selected === item}"
                class="background-{{item.type}}">

                <dnd-nodrag>
                    <div dnd-handle class="handle">:::</div>
                    <div>
                        <div class="name">
                            <!--<textarea ng-if="item.type == 'text'"  ng-model="item.value" class="background-{{item.type}} form-control input-sm">It will appear here!</textarea>-->
                            <wysiwyg ng-if="item.type == 'text'"  textarea-id="question" textarea-class="background-{{item.type}} form-control input-sm"  textarea-height="80px" textarea-name="textareaQuestion" textarea-required ng-model="item.value" enable-bootstrap-title="true"></wysiwyg>
                            <input ng-if="item.type == 'video'" type="text" ng-model="item.value" class="background-{{item.type}} form-control input-sm" placeholder="YouTube link">
                            <input ng-if="item.type == 'image'" type="file" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
                                   ngf-accept="'image/*'" ngf-max-size="20MB" class="background-{{item.type}}" />
                        </div>

                        <h1 ng-if="item.type == 'text'" class="pre-wrap" ><pre>{{item.value }}</pre></h1>
                        <youtube-video ng-if="item.type == 'video'" video-url="item.value"></youtube-video>
                        <img ng-if="item.type == 'image'" ngf-thumbnail="file || '/thumb.jpg'">

                    </div>
                </dnd-nodrag>
            </li>
        </ul>
    </script>


    <!-- Main area with dropzones and source code -->
    <div class="col-md-10">
        <div class="container-fluid">
            <div class="row">
                <div ng-repeat="(zone, list) in models.dropzones" >
                    <div class="dropzone box box-yellow">
                        <!-- The dropzone also uses the list template -->
                        <h3>Page layout</h3>
                        <div ng-include="'list.html'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">List Models</h3>
            </div>
            <div class="panel-body">
                <pre class="code">{{modelAsJson}}</pre>
            </div>
        </div>
    </div>

    <!-- Sidebar -->
    <div class="col-sm-2 ">

        <div class="toolbox box box-grey box-padding">
            <h3>New Elements</h3>
            <ul>
                <!-- The toolbox only allows to copy objects, not move it. After a new
                     element was created, dnd-copied is invoked and we generate the next id -->
                <li ng-repeat="item in models.templates"
                    dnd-draggable="item"
                    dnd-effect-allowed="copy"
                >
                    <button type="button" class="btn btn-default btn-lg" disabled="disabled">{{item.type}}</button>
                </li>
            </ul>
        </div>

        <div class="trashcan box box-grey box-padding">
            <h3>Trashcan</h3>
            <ul dnd-list="[]">
                <li><img src="/static/js/vendor/trashcan.jpg"></li>
            </ul>
        </div>

    </div>

    <!--Upload button-->
    <button type="button" class="btn btn-success" ng-click="save()">Save</button>
</div>

</body>
</html>