<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="editor-head.html :: editor-head">
    <title>Editing page layout</title>
</head>
<body ng-app="demo" ng-controller="SimpleDemoController" th:attr="ng-init='models.dropzones.A='+${page.data}+''">
<div sec:authorize="isAuthenticated()">
    <!--Navbar-->
    <div th:fragment="navAuthorized">
        <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only" th:text="#{label.navigation.toggle.navigation.button}"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand"><a style=" text-decoration: none;" href="/">Pulp</a></span>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle help_toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Info <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a th:href="@{~/users/{id}(id=${#authentication.principal.id})}" ><span sec:authentication="principal.firstName"></span></a>
                            </li>
                            <li role="separator" class="divider divide"></li>
                            <li><a th:href="@{~/sites/create}">Create site</a></li>
                            <li><a th:href="@{~/sites/{name}/edit(name=${siteName})}">Edit site</a></li>
                            <li><a th:href="@{~/sites/{name}/delete(name=${siteName})}">Delete site</a></li>
                            <li role="separator" class="divider divide"></li>
                            <li><a th:href="@{~/sites/{sitename}/create(sitename=${siteName})}">Create page</a></li>
                            <li><a th:href="@{~/sites/{sitename}/pages/{pagename}/edit(sitename=${siteName},pagename=${pageName})}">Edit page</a></li>
                            <li><a th:href="@{~/sites/{sitename}/pages/{pagename}/edit_layout(sitename=${siteName},pagename=${pageName})}">Edit page layout</a></li>
                            <li><a th:href="@{~/sites/{sitename}/pages/{pagename}/delete(sitename=${siteName},pagename=${pageName})}">Delete page</a></li>
                            <li role="separator" class="divider divide"></li>
                            <li>
                                <div class="container-fluid">
                                    <div class="row-fluid">
                                        <form th:action="@{/logout}" method="POST" >
                                            <button type="submit" class="btn  btn-block  a_button btn-default" th:text="#{label.navigation.logout.link}"></button>
                                        </form>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </div>

    <span th:text="${page.name}"></span>

    <script type="text/ng-template" id="list.html">
        <ul dnd-list="list">
            <li ng-repeat="item in list"
                dnd-draggable="item"
                dnd-effect-allowed="move"
                dnd-moved="list.splice($index, 1)"
                dnd-selected="models.selected = item"
                ng-class="{selected: models.selected === item}"
                class="background-{{item.type}}">

                <dnd-nodrag>
                    <div dnd-handle class="handle">:::</div>
                    <div>
                        <div class="name">
                            <!--<textarea ng-if="item.type == 'text'"  ng-model="item.value" class="background-{{item.type}} form-control input-sm">It will appear here!</textarea>-->
                            <wysiwyg ng-if="item.type == 'text'"  textarea-id="question" textarea-class="background-{{item.type}} form-control input-sm"  textarea-height="80px" textarea-name="textareaQuestion" textarea-required ng-model="item.value" enable-bootstrap-title="true"></wysiwyg>
                            <input ng-if="item.type == 'video'" type="text" ng-model="item.value" class="background-{{item.type}} form-control input-sm" placeholder="YouTube link">
                        </div>

                        <h1 ng-if="item.type == 'text'" class="pre-wrap" ><pre>{{item.value }}</pre></h1>
                        <youtube-video ng-if="item.type == 'video'" video-url="item.value"></youtube-video>

                    </div>
                </dnd-nodrag>
            </li>
        </ul>
    </script>


    <!-- Main area with dropzones and source code -->
    <div class="col-md-10">
        <div class="container-fluid">
            <div class="row">
                <div ng-repeat="(zone, list) in models.dropzones" >
                    <div class="dropzone box box-yellow">
                        <!-- The dropzone also uses the list template -->
                        <h3>Page layout</h3>
                        <div ng-include="'list.html'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Sidebar -->
    <div class="col-sm-2 ">

        <div class="toolbox box box-grey box-padding">
            <h3>New Elements</h3>
            <ul>
                <!-- The toolbox only allows to copy objects, not move it. After a new
                     element was created, dnd-copied is invoked and we generate the next id -->
                <li ng-repeat="item in models.templates"
                    dnd-draggable="item"
                    dnd-effect-allowed="copy"
                >
                    <button type="button" class="btn btn-default btn-lg" disabled="disabled">{{item.type}}</button>
                </li>
            </ul>
        </div>

        <div class="trashcan box box-grey box-padding">
            <h3>Trashcan</h3>
            <ul dnd-list="[]">
                <li><img src="/static/js/vendor/trashcan.jpg"></li>
            </ul>
        </div>

    </div>

    <!--Upload button-->
    <button type="button" class="btn btn-success" ng-click='save()' >Save</button>
</div>

</body>
</html>