<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="editor-head.html :: editor-head">
    <title>Editing page layout</title>
</head>
<body ng-app="editor" ng-controller="PageCreateController" th:attr="ng-init='models.layout='+${page.data}+''">
<div sec:authorize="isAuthenticated()">
    <div th:include="pages/page_fragment.html :: navbar"></div>
    <div th:include="pages/page_fragment.html :: editor"></div>
</div>
</body>
</html>