<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="head.html :: head">
    <title>Title</title>
</head>
<body ng-app="demo" ng-controller="PageViewController" th:attr="ng-init='data='+${page.data}+''">
    <div th:text="${page.name}">
    </div>

    <div th:if="${isPrincipal}">
        <form th:action="@{{path}/edit(path=${path})}">
            <button type="submit" class="btn btn-default" th:text="Edit"></button>
        </form>
        <form th:action="@{{path}/edit_layout(path=${path})}">
            <button type="submit" class="btn btn-default" th:text="Editlayout"></button>
        </form>
        <form th:action="@{{path}/delete(path=${path})}">
            <button type="submit" class="btn btn-default" th:text="Delete"></button>
        </form>
    </div>

    <!-- Main area with dropzones and source code -->
    <div class="col-md-10">
        <div class="container-fluid">
            <div class="row">
                <li ng-repeat="item in data">

                    <div ng-if="item.type == 'text'" ng-bind-html="item.value | html"></div>
                    <youtube-video ng-if="item.type == 'video'" video-url="item.value"></youtube-video>
                    <img ng-if="item.type == 'image'" ngf-thumbnail="file || '/thumb.jpg'">
                </li>
            </div>
        </div>
    </div>

    <div>
        <a th:href="@{~/sites/{site}/create(site=${site})}">add page</a>
    </div>
</body>
</html>