<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="head.html :: head">
    <title>Page</title>
    <style>
        body {
            padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
        }
        img {
            max-width: 100%;
            height: auto;
            width: auto\9; /* ie8 */
        }

    </style>

</head>
<body ng-app="editor" ng-controller="PageViewController" th:attr="ng-init='data='+${page.data}+''">
<div sec:authorize="isAuthenticated()">
    <div th:if="${isPrincipal} == true" th:include="pages/page_fragment.html :: navbar"></div>

    <div th:if="${isPrincipal} == false" th:include="user-layout.html :: navAuthorized">
    </div>

    <div th:include="pages/page_fragment.html :: page"></div>
</div>

<div sec:authorize="isAnonymous()">
    <div th:include="user-layout.html :: navAnonymous"></div>

    <div th:include="pages/page_fragment.html :: page"></div>

</div>
<script>
    $(document).ready(function () {
        $("img").addClass("img-responsive")
    });
</script>
</body>
</html>